@font-face {
    font-family: AbrilFatface;
    src: url(~@/assets/fonts/AbrilFatface/AbrilFatface-Regular.ttf);
}

@font-face {
    font-family: SourceSans;
    src: url(~@/assets/fonts/SourceSans/SourceSansPro-Regular.ttf);
}